.container
  display: flex
  flex-direction: column
  position: absolute
  align-items: center
  background-color: #1d1b31
  padding: 3px 20px 6px 16px
  border-radius: 0 6px 6px 0
  left: 100%
  list-style: none
  white-space: nowrap
  

.title
  font-size: 18px
  color: #fff 
  margin: 10px 0
  width: 100%

.items
  font-size: 15px
  width: 100%
  margin: 5px 0
  opacity: 0.6

  &:hover
    opacity: 1

.item
  color: #fff
  font-size: 15px
